@model IEnumerable<FurnitureStore.Models.Store>

@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover" id="stores">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Store Location</th>
            <th>Store City</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#stores").DataTable({


                ajax: {
                    url: "/api/stores",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",

                    },
                    {
                        data: "location",

                    },
                    {
                        data: "city",

                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/stores/edit/" + data + "'> Edit </a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/stores/details/" + data + "'> Details </a>";
                        }

                    },

                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-store-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#stores").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this store?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/stores/" + button.attr("data-store-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}