<!DOCTYPE html>
<html>
<head>
    <title>Furniture Store | @ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="~/Content/js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,200,300,500,600,700,800,900,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="~/Content/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script src="~/Content/js/menu_jquery.js"></script>
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>
    @using NewFurnitureStore.Models;
</head>
<body>
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="top_left">
                    @Html.Partial("_LoginPartial")
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="facebook"></i></a></li>
                            <li><a href="#"><i class="twitter"></i></a></li>
                            <li><a href="#"><i class="dribble"></i></a></li>
                            <li><a href="#"><i class="google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="header_top">
        <div class="container">
            <div class="logo">
                <a href="Index">
                    <img src="~/Content/images/logo.png" alt="" />
                </a>
            </div>
            <div class="header_right">
                @if (Session["cart"] != null)

                {

                    List<CartItem> cart = (List<CartItem>)Session["cart"];

                    var total = cart.Sum(item => item.Product.Price * item.Quantity);
                    var totalItems = cart.Sum(item => item.Quantity);

                    <div class="cart box_1">
                        <a href="~/Cart">
                            <h3>
                                <span class="simpleCart_total">

                                    $@total

                                </span>
                                (
                                <span id="" class="simpleCart_quantity">
                                    @totalItems
                                </span> items)
                                <img src="~/Content/images/bag.png" alt="">
                            </h3>
                        </a>
                        <div class="clearfix"> </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="mega_nav">
        <div class="container">
            <div class="menu_sec">
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="~/Home/">Home</a></li>
                    <li class="grid">
                        <a class="color7" href="~/Products">Products</a>
                    </li>
                    <li>
                        <a class="color4" href="~/Home/Contact">Contact US</a>
                    </li>
                    <li>
                        <a class="color5" href="~/Home/About">About US</a>
                    </li>
                </ul>
                <div class="search">
                    <form>
                        <input type="text" value="" placeholder="Search...">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!---->
        <div class="footer-content">
            <div class="container">
                <div class="ftr-grids">
                    <div class="col-md-3 ftr-grid">
                        <h4>About Us</h4>
                        <ul>
                            <li><a href="~/Home/About">Who We Are</a></li>
                            <li><a href="~/Home/Contact">Contact Us</a></li>
                            <li><a href="#">Our Sites</a></li>
                            <li><a href="#">In The News</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Carrers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h4>Customer service</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Cancellation</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Bulk Orders</a></li>
                            <li><a href="#">Buying Guides</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h4>Your account</h4>
                        <ul>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Personal Information</a></li>
                            <li><a href="#">Addresses</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Track your order</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">> Furinture</a></li>
                            <li><a href="#">> Bean Bags</a></li>
                            <li><a href="#">> Decor</a></li>
                            <li><a href="#">> Kichen & Dinning</a></li>
                            <li><a href="#">> Bed & Bath</a></li>
                            <li><a href="#">...More</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!---->
        <div class="footer">
            <div class="container">
                <div class="store">
                    <ul>
                        <li class="active">OUR STORE LOCATOR::</li>
                        <li><a href="#">Noida</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Belgium</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">China</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Germany</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Armenia</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">South Africa</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Malaysia</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Indonesia</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Mumbai</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Portugal</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Spain</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Northern Ireland</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Mohali</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Gurgaon</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Panchkula</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">Ambala</a></li>
                    </ul>
                </div>
                <div class="copywrite">
                    <p>Copyright © 2019 Furnyish Store All rights reserved | Design by <b>Group 7</b> | Assignment 2 Asp.net MVC</p>
                </div>
            </div>
        </div>
    </div>
    <!---->
    @RenderSection("scripts", required: false)
</body>
</html>
