@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="container">
        <div class="slider">
            <ul class="rslides" id="slider1">
                <li><img src="~/Content/images/banner2.jpg" alt=""></li>
                <li><img src="~/Content/images/banner1.jpg" alt=""></li>
                <li><img src="~/Content/images/banner3.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>
<div class="bottom_content">
    <div class="container">
        <div class="sofas">
            <div class="col-md-6 sofa-grid">
                <img src="~/Content/images/t1.jpg" alt="" />
                <h3>IMPORTED DINING SETS</h3>
                <h4><a href="products.html">SPECIAL ACCENTS OFFER</a></h4>
            </div>
            <div class="col-md-6 sofa-grid sofs">
                <img src="~/Content/images/t2.jpg" alt="" />
                <h3>SPECIAL DESIGN SOFAS</h3>
                <h4><a href="products.html">FABFURNISHING MELA</a></h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
