@model IEnumerable<FurnitureStore.Models.WoodType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover" id="woodtypes">
    <thead>
        <tr>
            <th>Wood Type Type</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#woodtypes").DataTable({


                ajax: {
                    url: "/api/woodtypes",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                          
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/woodtypes/edit/" + data + "'> Edit </a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a href='/woodtypes/details/" + data + "'> Details </a>";
                        }
                      
                    },
      
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-woodtype-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#woodtypes").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this wood type?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/woodtypes/" + button.attr("data-woodtype-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}